.calendarWrapper {
	margin-top: 10px;
	padding-inline: 10px;

	:global {
		.fc {
			.fc-button {
				background-color: #fb923c;
				color: #fff;
				border: 1px solid transparent;
				padding: 0.375rem 0.75rem;
				font-size: 1rem;
				line-height: 1.5;
				border-radius: 0.25rem;
				transition:
					color 0.15s ease-in-out,
					background-color 0.15s ease-in-out,
					border-color 0.15s ease-in-out,
					box-shadow 0.15s ease-in-out;

				&:hover {
					background: #fb923c;
					border-color: #fb923c;
				}

				&:focus {
					box-shadow: 0 0 0 0.2re #fff;
				}
			}

			.fc-button-active {
				background: #fb923c;
				border-color: #fb923c;
			}

			.fc-today-button {
				background: #fb923c;
				color: #fff;
				&:hover {
					background: #fb923c;
				}
			}

			.fc-prev-button,
			.fc-next-button {
				background: #fb923c;
				color: #fff;
				&:hover {
					background: #fb923c;
				}

				@media (max-width: 365px) {
					width: 100%;
					position: relative;
					right: 15px;
				}
			}
		}
	}
}
